@model IEnumerable<FreezerTape2.Models.Specie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelfLife)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimalCuts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimalCuts.First().Packages)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Specie specie in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => specie.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => specie.ShelfLife)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => specie.PrimalCuts.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => specie.CountPackages)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@specie.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@specie.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@specie.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
