@model FreezerTape2.Models.PrimalCut

@{
    ViewData["Title"] = @Model.Name.ToString() + " - Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Packages.First().Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Packages.First().Weight)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Packages.First().PackingDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Packages.First().Carcass.Specie)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Packages.First().StoragePlace)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Package package in Model.Packages)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Packages" asp-action="Details" asp-route-id="@package.Id">@Html.DisplayFor(modelItem => package.Id)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => package.Weight)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => package.PackingDate, "ShortDate")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => package.Carcass.Specie.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => package.StoragePlace.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
        <dd class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Species.First().Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Species.First().Name)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Specie specie in Model.Species)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => specie.Id)
                            </td>
                            <td>
                                <a asp-controller="Species" asp-action="Details" asp-route-id="@specie.Id">@Html.DisplayFor(modelItem => specie.Name)</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
